/* Стилизация ползунка скроллбара */
.scroll-bar .thumb {
    -fx-background-color: #5F5F5F; /* Цвет ползунка */
}

.scroll-bar {
	-fx-background-color: #202020; /* Цвет трека */
    -fx-background: #202020; /* Радиус скругления углов трека */
}

/* Стилизация кнопок скроллбара */
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent; /* Прозрачный фон */
    -fx-padding: 0; /* Убираем отступы */
    -fx-opacity: 0; /* Прозрачность */
    -fx-scaling: 0; /* Масштабирование */
    -fx-pref-width: 0; /* Ширина */
}