/* Стилизация Progress Bar */
.progress-bar {
    -fx-background-color: #383838; /* Цвет фона */
}

.progress-bar .bar {
    -fx-background-color: #C0C0C0; /* Цвет заполнения */
    -fx-background: #C0C0C0; /* Цвет заполнения */
	-fx-background-insets:0
}

.progress-bar .track {
    -fx-background-color: transparent; /* Цвет заполнения */
    -fx-background: transparent; /* Цвет заполнения */
}